/* Bootstrap Theme Customization */

/* make the customizations */
$theme-colors: (
  "primary": #e66c0d,
  "secondary": #e66c0d,
);

$font-family-base: Ciutadella-Rg, Helvetica, Arial, sans-serif;

$btn-border-radius-lg: 20px;

/* Include Bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
